In [23]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.ensemble import VotingClassifier, RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import f1_score

# Wprowadzenie

Co do zasady - pojedynczy klasyfikator ma umiarkowane zdolności predykcyjne. Najlepsze rezultaty uzyskuje sie poprzez zastosowanie KOMBINACJI klasyfikatorów.

Istnieją co do zasady trzy podejścia:

1. **Bagging** - powielanie wielokrotnie tego samego modelu, na próbkach pobieranych ze zwracaniem
2. **Boosting** - szkolenie kolejnych modeli na danych, w których większa waga jest nadawana przykładom, na których najczęściej występują pomyłki
3. **Głosowanie** - szkolenie niezależnie klasyfikatorów i potem głosowanie pomiędzy nimi

W przypadku głosowania:
* Każdy klasyfikator szklony jest oddzielnie na danych treningowych i sprawdzany jest jego poziom błędu
* Następnie dochodzi do głosowania:
    - Albo każdy ma "jeden głos"
    - Albo głosy są ważone poziomem błędu w treningu. **Ten sposób co do zasady** daje lepsze wyniki

# Wczytanie danych

In [3]:
data = pd.read_csv("./adult.csv")
data.head(3)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,earnings
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [5]:
X, Y = data.drop("earnings", axis=1), data.earnings

In [8]:
# binaryzacja

X = pd.get_dummies(X)
X.shape

(32561, 108)

In [7]:
X.head(3)

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_TrinadadTobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,39,77516,13,2174,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

# Podział danych na treningowe i testowe

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=333)

# Zadania:

Wyszkol trzy klasyfikatory TYLKO NA DANYCH TRENINGOWYCH - nie ruszaj danych testowych :)
Porównaj średnie wyniki

## Wyszkol klasyfikator KNN i sprawdź jego wartość metryki F1

## Wyszkol drzewo decyzjne i sprawdź jego wartość metryki F1

## Wyszkol las losowy i sprawdź jego wartość metryki F1

## Utwórz klasyfikator złożony i sprawdź jego trafność na danych trenigowych i testowych

Poeksperymentuj z parametrami - np. głosowanie "miękkie" i "twarde"

In [43]:
voting = VotingClassifier(
    estimators=[
        ('nazwa1', ...),
        ('nazwa2', ...)
    ],
    voting=''

)